<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
    <%- include('../partials/head'); %>
    </head>

    <body class="container-fluid">
        <header class="m-2">
            <%- include('../partials/header'); %>
        </header>

        <main>
            <h1 class="display-3">DYLIT.UK - Blog Posts</h1>
            <small class="text-muted">Even more random stuff.</small>

            <div class="row row-cols-1 row-cols-md-1 g-3" style="max-width: 100%;"> <!-- idk -->
                <% blog_posts.forEach((post) => { %>
                    <div class="col">
                        <div class="card" style="">
                            <div class="card-body">
                                <h5 class="card-title"><%= post.title %></h5>
                                <!-- <h6 class="card-subtitle mb-2 text-body-secondary">My personal projects.</h6> -->
                                <p class="card-text"><%= post.preview %></p>
                                <a href="/blog/<%= post.slug %>" class="card-link">View</a>
                            </div>
                            <div class="card-footer text-body-secondary">
                                Posted: <%= getRelativeTime(post.created) %> • Updated: <%= getRelativeTime(post.updated) %>
                            </div>                        
                        </div>
                    </div>
                <% }) %>
            </div>

            <!-- <div>
                <h4>bro left me on read :(</h4>
                <h6>not a real message btw</h6>
                <div class="card" style="width: fit-content; max-width: 65%; max-height: fit-content;">
                    <div class="card-body" style="background-color: #005C4B; max-height: fit-content;">
                        <-- <h5 class="card-title">Blogs</h5> -->
                        <!-- <h6 class="card-subtitle mb-2 text-body-secondary">Things I talk about</h6> ->
                        <p class="card-text" style="max-height: fit-content;">
                            <span>bruv innit bruv? aaaaaiuuiwehuieuhiqwuihewuhiewuiqheuihwqihuwhiuqwhuiewhuiewqiuh</span>
                            <span class="text-body-secondary" style="position: relative; z-index: 10; float: right; margin-top: 15px; margin-right: 0; margin-left: 4px;">
                                <small>19:02 <i class="bi-check2-all" style="color: #53bdeb;"></i></small>
                            </span>
                        </p>
                        <-- <a href="#" class="card-link">Nah</a> ->
                        <-- <a href="#" class="card-link">Ok</a> ->
                    </div>
                </div>
            </div> -->
        </main>

        <footer>
            <%- include('../partials/footer'); %>
        </footer>
    </body>
</html>